html {
    scroll-behavior: smooth;
}

body > * {
    margin: 16px 0;
}

/*
Body
*/

header {
    background-color: firebrick;
    display: flex;
    flex-direction: row;
    border: black 2px solid;
    align-items: center;
    width: 100%;
    height: 128px;
    margin: 0;
}

#me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 18%;
}

#me > img {
    height: 90%;
    width: auto;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1024px;
}

#side-nav {
    background-color: aquamarine;
    border: black 2px solid;
    width: 256px;
    height: 100%;
}

#content {
    background-color: mediumpurple;
    border: black 2px solid;
    width: 75%;
    height: 100%;
}

footer {
    background-color: coral;
    border: black 2px solid;
    width: 100%;
    height: 96px;
}

#bio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#bio .text {
    width: 50%;
    text-align: center;
}

#fanart {
    border: black 2px solid;
    border-radius: 10px;
}